@import "tailwindcss";

@theme {
  --animate-fade-in-up: fade-in-up 0.5s ease-out;
  --animate-shine: shine 2s infinite linear;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes shine {
    0% {
      transform: translateX(-150%) skewX(-12deg);
    }
    100% {
      transform: translateX(150%) skewX(-12deg);
    }
  }
}

body {
  @apply bg-slate-50 text-slate-900;
}
